@font-face {
    font-family: 'Retina Narrow';
    src: url('fonts/retina-narrow/RetinaNarrow-Black.eot');
    src: url('fonts/retina-narrow/RetinaNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/retina-narrow/RetinaNarrow-Black.woff2') format('woff2'),
        url('fonts/retina-narrow/RetinaNarrow-Black.woff') format('woff'),
        url('fonts/retina-narrow/RetinaNarrow-Black.svg#RetinaNarrow-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retina Narrow';
    src: url('fonts/retina-narrow/RetinaNarrow-BlackItalic.eot');
    src: url('fonts/retina-narrow/RetinaNarrow-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/retina-narrow/RetinaNarrow-BlackItalic.woff2') format('woff2'),
        url('fonts/retina-narrow/RetinaNarrow-BlackItalic.woff') format('woff'),
        url('fonts/retina-narrow/RetinaNarrow-BlackItalic.svg#RetinaNarrow-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retina Narrow';
    src: url('fonts/retina-narrow/RetinaNarrow-Bold.eot');
    src: url('fonts/retina-narrow/RetinaNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/retina-narrow/RetinaNarrow-Bold.woff2') format('woff2'),
        url('fonts/retina-narrow/RetinaNarrow-Bold.woff') format('woff'),
        url('fonts/retina-narrow/RetinaNarrow-Bold.svg#RetinaNarrow-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retina Narrow';
    src: url('fonts/retina-narrow/RetinaNarrow-BoldItalic.eot');
    src: url('fonts/retina-narrow/RetinaNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/retina-narrow/RetinaNarrow-BoldItalic.woff2') format('woff2'),
        url('fonts/retina-narrow/RetinaNarrow-BoldItalic.woff') format('woff'),
        url('fonts/retina-narrow/RetinaNarrow-BoldItalic.svg#RetinaNarrow-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retina Narrow';
    src: url('fonts/retina-narrow/RetinaNarrow-BookItalic.eot');
    src: url('fonts/retina-narrow/RetinaNarrow-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/retina-narrow/RetinaNarrow-BookItalic.woff2') format('woff2'),
        url('fonts/retina-narrow/RetinaNarrow-BookItalic.woff') format('woff'),
        url('fonts/retina-narrow/RetinaNarrow-BookItalic.svg#RetinaNarrow-BookItalic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retina Narrow';
    src: url('fonts/retina-narrow/RetinaNarrow-Book.eot');
    src: url('fonts/retina-narrow/RetinaNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/retina-narrow/RetinaNarrow-Book.woff2') format('woff2'),
        url('fonts/retina-narrow/RetinaNarrow-Book.woff') format('woff'),
        url('fonts/retina-narrow/RetinaNarrow-Book.svg#RetinaNarrow-Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

