@font-face {
    font-family: 'Retina Condensed';
    src: url('fonts/retina-condensed/RetinaCondensed-BoldItalic.eot');
    src: url('fonts/retina-condensed/RetinaCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/retina-condensed/RetinaCondensed-BoldItalic.woff2') format('woff2'),
        url('fonts/retina-condensed/RetinaCondensed-BoldItalic.woff') format('woff'),
        url('fonts/retina-condensed/RetinaCondensed-BoldItalic.svg#RetinaCondensed-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Retina Condensed';
    src: url('fonts/retina-condensed/RetinaCondensed-Bold.eot');
    src: url('fonts/retina-condensed/RetinaCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/retina-condensed/RetinaCondensed-Bold.woff2') format('woff2'),
        url('fonts/retina-condensed/RetinaCondensed-Bold.woff') format('woff'),
        url('fonts/retina-condensed/RetinaCondensed-Bold.svg#RetinaCondensed-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

