html,body {
    overflow-x: hidden !important;
    @include breakpoint(phone) {
        overflow-x: visible !important;
    }
}

*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body {
    background-color: var(--color-primary);
    font-family: var(--main-font);
    color: var(--color-text);
    position: relative;
}

.bg-stripe {
    display: block;
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    transform: skewY(22deg);
    background-color: var(--color-secondary);
    height: 1250px;
    top: 500px;
    @include breakpoint(phone) {
        height: 700px;
        top: 500px;
    }
    @include breakpoint(tablet-lg) {
        height: 1030px;
        top: 750px;
    }
    @include breakpoint(desktop-lg) {
        top: 850px;
    }
    .stripe__bg {
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .stripe__img {
        position: relative;
        display: block;
        height: 200%;
        top: -35%;
        transform: skewY(-22deg);
    }
}

// Container
.container {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    @include breakpoint(phone) {
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(tablet-lg) {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(desktop-lg) {
        max-width: 1212px;
        margin-left: auto;
        margin-right: auto;
    }
}

.grid {
    display: grid;
    &.grid--2 {
        @include breakpoint(phone) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &.grid--7y5 {
        @include breakpoint(phone) {
            grid-template-columns: 7fr 5fr;
        }
    }
}

// Text

.text {
    font-weight: 400;
    line-height: 1.25;
    color: var(--color-white);
    font-size: 20px;
    @include breakpoint(tablet-lg) {
        font-size: 28px;
    }
    strong {
        font-weight: 700;
    }
    &.text--sz-lg {
        font-size: 26px;
        line-height: 1.1;
        @include breakpoint(tablet-lg) {
            font-size: 39px;
        }
        @include breakpoint(desktop-lg) {
            font-size: 48px;
        }
    }
}

.text-2 {
    font-weight: 400;
    line-height: 1.3;
    font-size: 15px;
    @include breakpoint(tablet-lg) {
        font-size: 19px;
    }
    @include breakpoint(desktop-lg) {
        font-size: 20px;
    }
    strong {
        font-weight: 700;
    }
    &.text-2--sz-md {
        font-size: 19px;
        @include breakpoint(tablet-lg) {
            font-size: 22px;
        }
        @include breakpoint(desktop-lg) {
            font-size: 24px;
        }
    }
    &.text-2--m-bottom {
        margin-bottom: 15px;
        @include breakpoint(tablet-lg) {
            margin-bottom: 30px;
        }
    }
}

.title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -.025em;
    line-height: 1.2;
    font-size: 30px;
    @include breakpoint(tablet-lg) {
        font-size: 39px;
    }
    @include breakpoint(desktop-lg) {
        font-size: 48px;
    }
    &.title--sz-lg {
        font-size: 40px;
        @include breakpoint(tablet-lg) {
            font-size: 52px;
        }
        @include breakpoint(desktop-lg) {
            font-size: 56px;
        }
    }
}

.headline {
    font-family: var(--font-2);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.25;
    font-size: 20px;
    @include breakpoint(tablet-lg) {
        font-size: 23px;
    }
    @include breakpoint(desktop-lg) {
        font-size: 26px;
    }
}



// Btn

.btn-bg {
    height: 40px;
    min-width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-3);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 8px;
    font-size: 20px;
    padding: 0 20px;
    @include breakpoint(tablet-lg) {
        height: 65px;
        min-width: 200px;
        padding: 0 25px;
        font-size: 24px;
    }
    &:hover {
        background-color: var(--color-secondary);
    }
}

.btn-box {
    .btn__text {
        font-weight: 400;
        line-height: 1.2;
        color: var(--color-text-3);
        font-size: 12px;
        @include breakpoint(tablet-lg) {
            font-size: 14px;
        }
    }
}



// Img

.logo {
    text-align: center;
    color: var(--color-white);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    img {
        height: 55px;
        @include breakpoint(tablet-lg) {
            height: 70px;
        }
        @include breakpoint(desktop-lg) {
            height: 75px;
        }
    }
    .logo__title {
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1.2;
        font-size: 60px;
        @include breakpoint(tablet-lg) {
            font-size: 70px;
        }
        @include breakpoint(desktop-lg) {
            font-size: 80px;
        }
    }
}



// Form

select {
    -webkit-appearance: none;
}

.radio-button {
    user-select: none;
    cursor: pointer;
    position: relative;
    .checkmark {
        border-radius: 6px;
        border: 2px solid var(--color-white);
        height: 35px;
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(tablet-lg) {
            height: 50px;
            width: 60px;
        }
    }
    input {
        position: absolute;
        left: -20px;
        z-index: -10;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            border-color: var(--color-border-2);
        }
    }
}

.checkbox {
    user-select: none;
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    .checkmark {
        height: 15px;
        width: 15px;
        border: 2px solid var(--color-border-2);
        border-radius: 4px;    
        position: relative;
        top: 1px;
        margin-right: 10px;
        @include breakpoint(tablet-lg) {
            height: 20px;
            width: 20px;
            margin-right: 15px;
        }
    }
    input {
        position: absolute;
        left: -20px;
        z-index: -1;
        opacity: 0;
        z-index: 20;
        cursor: pointer;
        &:checked ~ .checkmark {
            background-color: var(--color-primary);
            border-color: var(--color-primary);
        }
        &:checked ~ .checkbox__text {
            font-weight: 700;
        }
    }
}

.input {
    width: 100%;
    label, select {
        cursor: pointer;
    }
    input, select, textarea, .form__text {
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        color: var(--color-text-2);
        @include breakpoint(tablet-lg) {
            font-size: 20px;
        }
    }
    textarea {
        resize: none;
        height: 110px;
        line-height: 135%;
        padding: 15px 20px;
        @include breakpoint(tablet-lg) {
            padding: 20px 20px;
        }
    }
    .input__select,
    .input__box {
        height: 40px;
        @include breakpoint(tablet-lg) {
            height: 50px;
        }
        input, select {
            border: 2px solid var(--color-border-2);
            border-radius: 4px;
            background-color: var(--color-white);
            height: 100%;
            padding: 0 15px;
            @include breakpoint(tablet-lg) {
                padding: 0 20px;
                border-radius: 6px;
            }
            &:focus {
                border-color: var(--color-border);
            }
        }
        select {
            background-color: transparent;
            padding-right: 0;
        }
        &.input--error {
            input,select {
                border-color: var(--color-error);
            }
        }
        .btn__text {
            color: var(--color-error);
            font-size: 12px;
            width: 100%;
            margin-top: 4px;
            display: block;
        }
    }
    .input__select {
        position: relative;
        z-index: 10;
        background-color: var(--color-white);
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 20;
            cursor: pointer;
            width: 40px;
            @include breakpoint(tablet-lg) {
                width: 50px;
            }
            &:before {
                font-size: 20px;
                color: var(--color-text-2);
                @include breakpoint(tablet-lg) {
                    font-size: 24px;
                }
            }
        }
        select {
            position: relative;
            z-index: 30;
        }
    }
    .input__label {
        display: inline-block;
        font-family: var(--main-font);
        text-transform: uppercase;
        font-weight: 700;
        line-height: 120%;
        color: var(--color-primary);
        margin-bottom: 5px;
        font-size: 13px;
        @include breakpoint(tablet-lg) {
            font-size: 15px;
        }
    }
    .input__text {
        font-weight: 400;
        line-height: 1.2;
        font-size: 15px;
        @include breakpoint(tablet-lg) {
            font-size: 18px;
        }
    }
    .input__list {
        display: grid;
        grid-gap: 15px;
        @include breakpoint(tablet-lg) {
            grid-gap: 20px;
        }
    }
    &.input--num {
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            @include breakpoint(tablet-lg) {
                height: 60px;
                cursor: pointer;
                opacity: 0;
            }
        }
        .input__box {
            @include breakpoint(tablet-lg) {
                position: relative;
            }
            .icon-box {
                display: none;
                @include breakpoint(tablet-lg) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    z-index: 0;
                    left: 145px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                i {
                    &:before {
                        color: var(--color-border-2);
                    }
                }
            }
            input {
                position: relative;
                z-index: 10;
                background-color: transparent;
                &:focus {
                    + .icon-box {
                        i {
                            &:before {
                                color: var(--color-black);
                            }
                        }
                    }
                }
            }
        }
    }
    &.input--radio-button {
        padding: 35px 0;
        @include breakpoint(tablet-lg) {
            padding: 60px 0;
        }
        .radio__options {
            display: flex;
            align-items: center;
        }
    }
    &.input--horiz {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
        @include breakpoint(phone) {
            grid-template-columns: 2fr 3fr;
        }
        @include breakpoint(desktop-lg) {
            grid-gap: 75px;
        }
        .input__label {
            margin-bottom: 0;
        }
        .input__box {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            flex-wrap: wrap;
            input {
                width: 105px;
                @include breakpoint(phone-sm) {
                    width: 135px;
                }
                @include breakpoint(phone) {
                    width: 150px;
                }
                @include breakpoint(tablet-lg) {
                    width: 180px;
                }
            }
            .input__text {
                margin-left: 5px;
                position: relative;
                top: 15px;
            }
        }
        &.input--checkbox {
            align-items: flex-start;
        }
        &.input--radio-button {
            display: block;
            @include breakpoint(phone) {
                display: grid;
                grid-template-columns: 2fr 3fr;
                grid-gap: 20px;
            }
            @include breakpoint(desktop-lg) {
                grid-gap: 75px;
            }
            .input__label {
                margin-bottom: 10px;
                @include breakpoint(phone) {
                    margin-bottom: 0;
                }
            }
            .radio__options {
                justify-content: center;
                transform: translateX(2px);
                @include breakpoint(phone) {
                    justify-content: flex-start;
                    transform: translateX(-10px);
                }
                @include breakpoint(tablet-lg) {
                    transform: translateX(-20px);
                }
                .radio-button {
                    &:first-of-type {
                        margin-right: 15px;
                        @include breakpoint(tablet-lg) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

.form {
    .btn-bg {
        width: 100%;
        &:active {
            position: relative;
            bottom: -1px;
        }
    }
    .btn-box {
        text-align: center;
        .btn-bg {
            margin-bottom: 7px;
            @include breakpoint(tablet-lg) {
                margin-bottom: 10px;
            }
        }
    }
    .form__grid {
        display: grid;
        grid-row-gap: 20px;
        @include breakpoint(tablet-lg) {
            grid-row-gap: 30px;
        }
    }
}



.faq {
    .faq__title {
        font-family: var(--font-2);
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1.2;
        color: var(--color-title);
        background-color: var(--color-white);
        border: 1px solid var(--color-border);
        border-radius: 5px 5px 5px 0px;
        position: relative;
        display: inline-block;
        font-size: 20px;
        padding: 7px 10px;
        margin-bottom: 15px;
        @include breakpoint(tablet-lg) {
            font-size: 24px;
            padding: 10px 15px;
            margin-bottom: 25px;
            
        }
    }
    .faq__extract {
        font-weight: 400;
        line-height: 1.4;
        color: var(--color-white);
        font-size: 16px;
        @include breakpoint(tablet-lg) {
            font-size: 20px;
        }
        p {
            margin-bottom: 15px;
            @include breakpoint(tablet-lg) {
                margin-bottom: 20px;
            }
        }
        strong {
            font-weight: 700;
        }
        ul {
            list-style: square;
            padding-left: 15px;
            li {
                margin: 5px 0;
            }
        }
    }
}

.box {
    .box__header {
        text-align: center;
        margin-bottom: 25px;
        @include breakpoint(tablet-lg) {
            margin-bottom: 50px;
        }
    }
    &.box--before {
        position: relative;
        margin-bottom: 20px;
        @include breakpoint(phone-sm) { 
            margin-bottom: 25px;
        }
        @include breakpoint(tablet-lg) {
            margin-bottom: 33px;
        }
        @include breakpoint(desktop-lg) {
            margin-bottom: 40px;
        }
        &:before {
            display: block;
            content: '';
            position: absolute;
            z-index: -1;
            background-image: url(../images/box-shadow.svg);
            opacity: 0.25;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 50%);
            height: 40px;
            width: 110%;
            @include breakpoint(phone-sm) { 
                height: 50px;
            }
            @include breakpoint(tablet-lg) {
                height: 65px;
            }
            @include breakpoint(desktop-lg) {
                height: 80px;
            }
        }
    }
    &.box--video {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include breakpoint(tablet-lg) {
            height: 350px;
        }
        @include breakpoint(desktop-lg) {
            height: 415px;
        }
        i.icon-play-circle {
            &:before {
                color: var(--color-tertiary);
                font-size: 65px;
                @include breakpoint(tablet-lg) {
                    font-size: 80px;
                }
            }
        }
        &.box--before {
            &:before {
                transition: all .4s ease-in-out;
            }
        }
        &:hover {
            i.icon-play-circle {
                &:before {
                    color: var(--color-secondary);
                }
            }
            &.box--before {
                &:before {
                    opacity: 0.5;
                }
            }
        }
    }
    &.box--lightbox {
        position: relative;
        display: block;
        border-radius: 6px;
        height: 200px;
        @include breakpoint(tablet-lg) {
            height: 300px;
        }
        div {
            position: absolute;
            z-index: 0;
            left: 15px;
            right: 15px;
            top: 15px;
            bottom: 15px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include breakpoint(tablet-lg) {
                left: 20px;
                right: 20px;
                top: 20px;
                bottom: 20px;
            }
        }
    }
    &.box--border {
        border: 2px solid var(--color-border);
    }
    &.box--rounded {
        border-radius: 10px 10px 6px 6px;
        @include breakpoint(tablet-lg) {
            border-radius: 20px 20px 6px 6px;
        }
    }
    &.box--bg-black {
        background-color: var(--color-black);
        .title {
            color: var(--color-white);
        }
        .headline {
            color: var(--color-white);
        }
    }
    &.box--bg-white {
        background-color: var(--color-white);
        .title {
            color: var(--color-primary);
        }
        .headline {
            color: var(--color-secondary);
        }
    }
    &.box--pad {
        padding: 0 25px;
        padding-top: 25px;
        padding-bottom: 20px;
        @include breakpoint(tablet-lg) {
            padding: 0 70px;
            padding-top: 50px;
            padding-bottom: 40px;
        }
        @include breakpoint(desktop-lg) {
            padding: 0 90px;
            padding-top: 65px;
            padding-bottom: 50px;
        }
    }
    &.box--pad-2 {
        padding: 35px 25px;
        @include breakpoint(tablet-lg) {
            padding: 80px 70px;
        }
        @include breakpoint(desktop-lg) {
            padding: 100px;
        }
    }
}

.block {
    .block__sidebar {
        text-align: center;
        img {
            height: 200px;
            margin-bottom: 25px;
            @include breakpoint(tablet-lg) {
                height: 250px;
                margin-bottom: 50px;
            }
        }
        .text {
            text-align: left;
        }
    }
    &.block--page {
        padding-top: 35px;
        .block__content {
            margin: 0 auto;
            max-width: 780px;
        }
        .text {
            margin-bottom: 30px;
        }
    }
    &.block--form {
        .grid.grid--7y5 {
            position: relative;
            @include breakpoint(phone) {
                position: static;
                align-items: flex-start;
            }
            .grid__content {
                .text {
                    max-width: 75%;
                    margin-bottom: 20px;
                    @include breakpoint(phone) {
                        max-width: none;
                    }
                    @include breakpoint(tablet-lg) {
                        margin-bottom: 45px;
                    }
                    @include breakpoint(desktop-lg) {
                        margin-bottom: 55px;
                    }
                }
                .form {
                    .form__grid {
                        margin-bottom: 30px;
                        @include breakpoint(tablet-lg) {
                            margin-bottom: 45px;
                        }
                    }
                }
            }
            .sidebar-sticky {
                @include breakpoint(phone) {
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 50px;
                }
                .img-sticky {
                    position: absolute;
                    top: -70px;
                    right: -47px;
                    z-index: -1;
                    height: 300px;
                    @include breakpoint(phone) {
                        position: sticky;
                        top: 20px;
                        right: auto;
                        z-index: 10;
                    }
                    @include breakpoint(tablet-lg) {
                        height: 500px;
                    }
                    @include breakpoint(desktop-lg) {
                        height: 600px;
                    }
                }
            }
        }
    }
    &.block--title {
        text-align: center;
    }
    &.block--video {
        .box.box--before {
            margin-bottom: 40px;
            @include breakpoint(phone) {
                margin-bottom: 0;
            }
        }
        .grid.grid--7y5 {
            @include breakpoint(phone) {
                grid-gap: 30px;
            }
            @include breakpoint(tablet-lg) {
                grid-gap: 60px;
            }
            .block__sidebar {
                .text {
                    text-align: center;
                }
            }
        }
    }
    &.block--faqs {
        .grid.grid--2 {
            grid-gap: 30px;
            @include breakpoint(phone) {
                grid-gap: 40px;
            }
            @include breakpoint(tablet-lg) {
                grid-gap: 70px 90px;
            }
            @include breakpoint(desktop-lg) {
                grid-gap: 75px 100px;
            }
        }
    }
    &.block--pad {
        padding: 50px 0;
        @include breakpoint(tablet-lg) {
            padding: 100px 0;
        }
    }
    &.block--p-top {
        padding-top: 20px;
        @include breakpoint(tablet-lg) {
            padding-top: 0px;
        }
    }
    &.block--p-top-lg {
        padding-top: 70px;
        @include breakpoint(tablet-lg) {
            padding-top: 170px;
        }
    }
}

.header {
    background-color: transparent;
    height: var(--header-height-sm);
    @include breakpoint(tablet-lg) {
        height: var(--header-height-lg);
    }
    .header__logo {
        display: inline-block;
        a {
            display: block;
            img {
                height: 70px;
                @include breakpoint(tablet-lg) {
                    height: 150px;
                }
            }
        }
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.footer {
    color: var(--color-white);
    padding: 50px 0;
    @include breakpoint(tablet-lg) {
        padding: 100px 0;
    }
    .container {
        text-align: center;
        @include breakpoint(phone) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .footer__copy {
        font-family: var(--font-2);
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1.3;
        font-size: 13px;
        @include breakpoint(tablet-lg) {
            font-size: 14px;
        }
        a {
            text-decoration: underline;
        }
    }
    .footer__logo {
        display: block;
        margin-bottom: 20px;
        @include breakpoint(phone) {
            margin-bottom: 0;
        }
        img {
            height: 60px;
            @include breakpoint(tablet-lg) {
                height: 85px;
            }
        }
    }
}