// A map of breakpoints.
$breakpoints: (
  phone-sm: 380px,
  phone: 767px,
  tablet-lg: 1024px,
  desktop-lg: 1202px
);

:root {

    // Fonts 
    --main-font: 'Retina Narrow', Arial;
    --font-2: 'Be Honest', Arial;
    --font-3: 'Retina Condensed', Arial;
    

    // Colors 
    --color-primary: #0065B0;
    --color-primary-hover: #317DE2;
    --color-secondary: #21B2E6;
    --color-secondary-hover: #90bae6;
    --color-tertiary: #ACD5EC;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-0: rgba(0,0,0,0);
    --color-black-80: rgba(0,0,0,.8);
    --color-error: #f14668;

    // Text 
    --color-text: #000000;
    --color-text-2: #333333;
    --color-text-3: #999999;
    --color-title: #000001;

    // Bg 
    --color-bg: #F0F0F0;

    // Border
    --color-border: #000001;
    --color-border-2: #cccccc;

    // Header
    --header-height-sm: 100px;
    --header-height-lg: 230px;
}
