@font-face {
  font-family: 'icons';
  src: url('fonts/icons/icons.eot?39623464');
  src: url('fonts/icons/icons.eot?39623464#iefix') format('embedded-opentype'),
       url('fonts/icons/icons.woff2?39623464') format('woff2'),
       url('fonts/icons/icons.woff?39623464') format('woff'),
       url('fonts/icons/icons.ttf?39623464') format('truetype'),
       url('fonts/icons/icons.svg?39623464#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
}
 
.icon-angle-up:before { content: '\e800'; } /* '' */
.icon-angle-down:before { content: '\e801'; } /* '' */
.icon-play-circle:before { content: '\e802'; } /* '' */