@font-face {
    font-family: 'Be Honest';
    src: url('fonts/be-honest/BeHonest.eot');
    src: url('fonts/be-honest/BeHonest.eot?#iefix') format('embedded-opentype'),
        url('fonts/be-honest/BeHonest.woff2') format('woff2'),
        url('fonts/be-honest/BeHonest.woff') format('woff'),
        url('fonts/be-honest/BeHonest.svg#BeHonest') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

